/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  z-index: 1000;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  /* Set the fixed height of the footer here */
  height: 60px;
/*   line-height: 60px; */
  /* Vertically center the text there */
/*   background-color: red; */
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/*
 * Base structure
 */
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/*
 * Typography
 */
h1 {
  margin-bottom: 15px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

nav {
  opacity: 1.0;
}

/*
 * Sidebar
 */
.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */
/* Placeholders */
/* .placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
} */

/* value container*/
.values-collection {
    display:flex;
    flex-direction:column;
    margin-bottom: 1rem;
  }
@media screen and (min-width: 768px) {
  .values-collection {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: space-evenly;
    margin-bottom: .5rem;
  }
}
.value-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.value-container-alt-1 {
  background-color: #ffce54;
  color: #000;
}

.value-container-alt-2 {
  background-color: #5D9CEC;
  color: #000;
}

.value-container-alt-3 {
  background-color: #ED5565;
  color: #000;
}
.value-container-alt-4 {
  background-color: #AC92EC;
  color: #000;
}
.value-container-alt-5 {
  background-color: #A0D468;
  color: #000;
}

.value-container {
  margin-bottom: 1rem;
  width: 11rem;
  height: 11rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.3rem;
}

.chart-display {
  width: 100%;
  height: 300px;
  background-color: gray;
  margin: 10px;
}

.logo {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}
.spruce {
  color:#2ECC40;
}
.analytics {
  color: #0074D9;
}
.navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
